*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3e5d8;
}
@font-face {
    font-family: 'youngsherif';
    src: url("../../public/font/YoungSerif-Regular.ttf");
}